html {
    background: rgb(120, 212, 101);


}


body {

    font-family: Arial, Helvetica, sans-serif;
    color: #242424;
    margin: 40px;
    padding: 40px;
    border-top: 15px solid #24a307;
    background:rgb(203, 245, 195)


}

h1 {
    padding-top: 20px;
    font-size: 3em;
    margin: 0;



}

p {
    line-height: 1.4em;
    margin: 15px;


}

#blog {
    border-top: 2px dotted #24a307;


}

.blog-post {
    border-bottom: 1px dotted #24a307;


}

#about {
    border-top: 2px dotted #24a307;

}

#contact {
    border-top: 2px dotted #24a307;

}

.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px;
    justify-content: space-between;  


}


nav {
    text-align: center;
    flex: 1;
    background: #89dc76;
    border-radius: 25px;
    border-color: #24a307;



}

nav ul{

    list-style: none;
    margin: 0 2px;
    padding: 0;

  }


 
 nav a {
   font-weight: normal;
   padding: 10px 32px;

 }

 .about-content {
    display: flex;
    flex-wrap: wrap; /* Allow the articles to wrap to the next row on smaller screens */
    justify-content: space-between; /* Create space between the two articles */
}

/* Style for individual articles */
.about-content article {
    flex-basis: calc(50% - 10px); /* Set the width of each article (adjust margin if needed) */
    margin-bottom: 20px; /* Add margin for spacing */
}

/* Additional styling for the list and image */
#about ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
}

#about img {
    display: block; /* Center the image within its container */
    margin: 20px auto; /* Add margin for spacing */
}